server:
  port: ${GATEWAY_PORT:8443}

spring:
  application:
    name: flexi-gate
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - AddRequestHeader=X-Default-Header, DefaultValue

eureka:
  client:
    service-url:
      defaultZone: http://eureka:${EUREKA-PORT:8761}/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
    org.springframework.cloud.client.discovery.simple: DEBUG
    reactor.netty.http.client: DEBUG